ul{
    list-style-type: disc;
    list-style-position: outside;
 list-style-image: url("raghda.jpg");
   
}
ul li{
    border: 1px solid #ddd
}
ul{
    list-style: disc outside url("raghda.jpg")
    type, position image >> shar7777
}