body{
	width:800px;
	height:800px;
}
.began  span {
	 text-align: center;
	 text-transform: capitalize;
	color:#f00;
	
	text-indent: 80px;
	margin :30px;
	padding:20px;
	text-align:center;
}
.began {
	width:300px;
	margin:20px;
	padding:20px;
	float:left;
}
.began p{
	font-size: 40px;
	font-weight: bold;
	margin:20px;
	padding:20px;
	
}

.href {
	font-size: 40px;
	font-weight: bold;
	color:#676767;
	position:absolute;
	float:left;
	margin:50;

	
}
.eadt {
	display:block;
	float:left;
	padding:50px;
	margin:50px;
height:400px;
}
.menu{
	margin:-30px;
	padding:0px;
	display:block;
	float:left;
	width :300px;
	position :absolute;
	color:#676767;
	
}
.contact{
	margin:-10px;
	padding:10px;
	display:block;
	float:left;
	width :300px;
	position :absolute;
	color:#000000;
	
}
.menu p{
	
	font-size:30px;
font-weight:bold;
	text-transform: capitalize;
}
.menu span {
	
	 text-transform: capitalize;
	color:#000000;
	
	
	
	margin:-10px;
	padding:0px;
	
	
	font-weight:bold;

}
.contact p{
	margin:0px;
	font-size:30px;
font-weight:bold;

	text-transform: capitalize;
}
.contact span {
	
	 text-transform: capitalize;
	color:#676767;
	
	
	
	margin:20px;
	padding:10px;
	
	
	font-weight:bold;

}
